@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #bdcdd6;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.custom-input {
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-right: none;
}

:where(.css-dev-only-do-not-override-123njiu).ant-input-affix-wrapper.search-input > input.ant-input {
  background: #93bfcf;
}

.chats-height {
  height: calc(75vh - 127px);
}

.messages-height {
  height: calc(75vh - 132px);
}

.window-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.owner-message-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -12px;
  border-right: 12px solid transparent;
  border-top: 12px solid #bdcdd6;
}

.guest-message-triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -12px;
  border-left: 12px solid transparent;
  border-top: 12px solid #fff;
}
