*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #93bfcf;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #bdcdd6;
  overflow: hidden;
}

.window-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
